{%extends 'partials/base.html' %}
{% block title %}Password Reset Complete{% endblock %}
{% block content %}
<div class="container">
    <div class="row mt-5 pt-5">
        <div class="col-md-8 offset-md-2">
            <div class="card my-3 shadow">
                <div class="card-body">
                    <h3 style="text-align: center;">Password Complete Reset</h3>

                    <div class="alert alert-info">
                        Password Reset Completed. Login with the new credentials
                    </div>
                    <div>
                        <p>Click the link below to login</p>
                    </div>
                    <a href="{% url 'login'%}">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}