{%extends 'partials/base.html' %}
{% block title %}Password Reset{% endblock %}
{% block content %}
<div class="container">
    <div class="row mt-5 pt-5">
        <div class="col-md-8 offset-md-2">
            <div class="card my-3 shadow">
                <div class="card-body">
                    <h3 style="text-align: center;">Password Reset</h3>

                    <div class="alert alert-info">
                        Enter email here and instructions will be sent to your email on how to reset your password
                    </div>
                    <form method="post" autocomplete="off" style="padding: 5px;">
                        {% csrf_token %}
                        {{form.email.label_tag}}<br>
                        {{form.email}}
                        <button type="submit" style="padding: 0.5em; box-sizing: border-box; width: 100%; margin-top: 10px; color: white; background-color: grey; border: none;border-radius: 5px;">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}